body {
  overflow: hidden;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  
}
/* ======================
PLANET SELECTORS
====================== */ 

.planet-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color:rgb(9, 119, 245);
  opacity: .7;
  padding: 2px;
  border-radius: 16px;
}

.buttonTable, td {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  pointer-events:fill;
  border-width: 5px;  
}

.planet-selector:after {
  content: "";
  display: table;
  clear: both;
}

.buttonTable button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(255, 255, 255);
  text-align:center;
  width: 100%;
  padding: 20%;
  text-decoration: none;
  display: inline-block;
  font-size: 90%;
  border-radius: 16px;
}

.buttonTable button:hover {
  background: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
}
.planet-selector:hover {
  opacity: 1;
}

/* @keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
} */


