body {
  overflow: hidden;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  
}
/* ======================
PLANET SELECTORS
====================== */ 

.planet-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: auto;
  background-color:rgb(65, 65, 65);
  opacity: .7;
  padding: 2px;
  border-radius: 16px;
  transform: translateY(80%);
  transition: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}

.planet-label {
  text-align: center;
  
  font-size: 200%;
  width: 100%;
  height: auto;
  color:rgb(255, 255, 255);
}

.buttonTable, td {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  pointer-events:fill;
  border-width: 5px;  
}

.planet-selector:after {
  content: "";
  display: table;
  clear: both;
}

.buttonTable button {
  background-color: rgb(13, 90, 161);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.473);
  color: rgb(255, 255, 255);
  text-align:center;
  width: 100%;
  padding: 20%;
  text-decoration: none;
  display: inline-block;
  font-size: 90%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 16px;
}

.buttonTable button:hover {
  background: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
}
.planet-selector:hover {
  opacity: 1;
  transform: translateY(0%);
}


